**/models
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
/tox.ini
/test_environment.py
/move.sh
/Makefile
/dvc.yaml
/dvc.lock
/dump.rdb
/.pre-commit-config.yaml
/.isort.cfg
/.gitmessage
/.flake8
/utils/
/notebooks/
/models/
/histos.egg-info/
/docs/
/data/
/articles/
/.pytest_cache/
/.helm/
/.dvc/
/.azure/
!models/release*